@model cascadingtask.Models.CountryStatemodel
@{
    ViewBag.Title = "Home Page";
}
<table>
    <tr>
        <td>
            @if (ViewBag.countryList != null)
            {
                @Html.DropDownListFor(model => model.countryid, ViewBag.countryList as SelectList, "--Select Country--", new { @class = "form-control" })
            }
        </td>
    </tr>
    <tr>
        <td>
           
            @Html.DropDownListFor(model => model.stateid, new SelectList(" "), "--Select state--", new { @class = "form-control" })
            
        </td>
    </tr>
   
</table>
 <script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script>
    $(document).ready(function () {
        $("#countryid").change(function () {
            $.get("/Home/GetStateList", { countryid: $("#countryid").val() }, function (data) {
                $("#stateid").empty();
                $.each(data, function(index, row) {
                    $("#stateid").append("<option value= '" + row.stateid + "'>" + row.statename + "</option>")
                });
            });
        });
    });
</script>
